@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

header{

    position: fixed;
    top: 0;
    border-left-style: 0;
    width: 200;
    background-color: blueviolet;

}
.logo{
background-color: darkslategrey;
color: deeppink;
font-size: 40px;
display: inline;
margin-block: 20;
line-height: 50px;
}

.nav{
    background-color: forestgreen;
    display: inline;
    position:relative;
    text-align:center;
    top: 0;
    float: right;
}
.navlinklist{
    background-color: gainsboro;
    text-decoration:none;
    list-style: none;
    padding: 0;
    position: relative;
    display: inline;
    margin-left: 10px ;

}
.navlinklist li{
    display: inline-block;
}

.navLinkList li a:hover {
    color: powderblue;
    text-decoration: purple;
    font-size: 20px;
    padding: 10px;

}


.navlinklist {
    background-color: plum;
    border-color: hotpink;
    text-decoration-style: dotted;
    font: size 20px;
    padding: 10px;
    line-height: 50px;
    display:inline-block;
    margin-left: 20px;

}


.navlinklist li a:hover {
background-color: cornsilk;
}

.mainBody{
margin-top: 60px;
width: 100;
}

.restaurantPhoto {
position: relative;
display: inline-block;
width: 20%;

}
.restaurantphoto img{
width: 100%;

}

.EnjoyQuote{
position: absolute;
top: 10px;
left: 15px;
font-size: 26px;
color: green
width: 60%;
font-family:'Yellowtail', cursive;
}


.recentPost {
position: relative;
display: block;
width: 60%;
background-color: khaki;
font-size: 20px;
}

.recentPosts p {
    position: relative;
    display: inline-block;
    width: 60%;
    background-color: bisque;
    vertical-align: middle;
    font-size: 22px;
}
.recentPost h1 {
  margin-top: 0px;

}

.blogPostList{
    position:absolute;
    display:inline-flex;
    width: 100%;
    background-color: brown;
    vertical-align: middle;
    font-size: 20px;
    border-color: 2px lightslategrey;
    padding-left: 2px;
    height: 80%;


}
footer{
    width: 100%;
    text-align:right;
    background-color: peachpuff;
    font-weight:  bolder;
    margin-top: 50px;
    padding: 10px;
}


